fastapi
uvicorn
websockets
wsproto
pywebview
pystray
sounddevice
numpy
faster-whisper
tokenizers
edge-tts
miniaudio
openai
ddgs
psutil
pyautogui
pycaw
comtypes
pillow
pygetwindow
pyperclip
python-dotenv
requests
openwakeword
onnxruntime
speakeronnx
imageio-ffmpeg
zeroconf
